<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="img/fave.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
	<% require 'pry' %>
<div class="container-fluid">
  <div class="row-fluid">
   	<div class="span10">
			<% if @tweets != [] %>
<!-- 			<% num = 0 %> -->
      <% @tweets[0].each do |tweet| %>
<!--       <% num = num +1 %> -->
<!--       <% puts @tweets[0] %> -->
			<% #binding.pry %>
      <p>Name: <%= "#{tweet[:name]}" %></p>
      <p>Search Query: <%= "#{tweet[:query]}" %></p>
			<p>Link: <%= "#{tweet[:url]}" %></p>
<!-- 			<% num += 1 %> -->
			<% end %>
			<% else %>
			<% puts "no tweets recieved" %>
			<% end %>
		</div>
      <!--Body content-->
			<div class="span10">
			<p>Welcome Back <%= session[:name] %> </p>
    </div>
  </div>
</div>

	
	
	
</body>

</html>