<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="img/fave.ico" type="image/x-icon" />
  <link rel='stylesheet' href='css/loading.css' type='css/x-icon' />
</head>

<body>
	
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1620812258194848";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
				console.log(FB.getAccessToken);
  </script>
  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
	
</body>

</html>