<!DOCTYPE html>
<html>

	<head>
		<link rel="shortcut icon" href="img/fave.ico" type="image/x-icon" />
		<link rel='stylesheet' href='css/loading.css' type='css/x-icon'/>
	</head>
	
	<body>
		
<div class="cont">
  <div class="preloader loading">
    <div class="loader">
      <div class="slice">
        <svg viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
          <polygon points="50,50 0,50 0,0"></polygon>
        </svg>
      </div>
      <div class="slice">
        <svg viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
          <polygon points="0,50 0,0 50,0"></polygon>
        </svg>
      </div>
      <div class="slice">
        <svg viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
          <polygon points="0,0 50,0 50,50"></polygon>
        </svg>
      </div>
      <div class="slice">
        <svg viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
          <polygon points="50,0 50,50 0,50 "></polygon>
        </svg>
      </div>
    </div>
  </div>
</div>
		<% @text.each do |text| %>
		<p><%= text %></p>
		<% end rescue puts "@text has no tweets inside of it" %>
	</body>

</html>